html,body {
	background-color: #feffe4;
	margin: 0;
	padding: 0;
	font-family: 'roboto';
	line-height: 1.5;
	max-height: 100%;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #f5f5f5 100%);
}
body {
	display: block;
}
.primary {
	background-color: #30ba40;
}
.white {
	background-color: white;
}
.deafult {
	background-color: #757575;
}
.secondary {
	background-color: #fa4659;
}
.deafult-text {
	color: #a3de83;
}
.font-weight-low {
	font-weight: 400;
}
.font-capital {
	text-transform: capitalize;
}
.mt-br {
	margin-top: 30px;
}
.mt-1 {
	margin-top: 50px;
}
.mt-2 {
	margin-top: 100px;
}
.mt-3 {
	margin-top: 150px;
}
.pl-1 {
	padding-left: 50px!important;
}
.pl-2 {
	padding-left: 100px!important;
}
.padded {
	padding-left: 300px;
}
.font-bold {
	font-weight: 600;
}

header, main, footer {
	padding-left: 250px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.active-link {
	border-left: 5px solid #30ba40;
}
.nav-container {
	width: 50%!important;
}
@media only screen and (max-width : 768px) {
	.nav-container {
		width: 95%!important;
	}
}
blockquote {
	border-left: 5px solid #30ba40!important;
}
.hero {
	background-image: url('../image/Quepal.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}
.hero-dusk::before {
	content: "";
	display: block;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-image: -webkit-linear-gradient(left top, rgba(48,67,82,0.7), rgba(215,210,204,0.7));
}
.hero .hero-logo img {
	width: 70px;
}
.hero .hero-logo {
	position: absolute;
	bottom: 23px;
	left: 23px;
}
.hero .hero-caption {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hero .hero-caption .card {
	min-width: 320px;
}
.py-2 {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}
.p-trbl {
	padding: 5%!important;
}
.login-title {
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.ribbon {
	border-radius: 3px 0 0 2px;
	position: relative;
	margin-left: -11px;
	margin-right: -11px;
}
.ribbon::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	right: 0;
	border-left: 11px solid rgba(43,45,66,0.5);
	border-bottom: 11px solid transparent;
}
.ribbon::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-right: 11px solid rgba(43,45,66,0.5);
	border-bottom: 11px solid transparent;
}
.tabs .tab a{
	color:#a3de83!important;
} 

.tabs .tab a:hover {
	background-color:#eee!important;
	color:#30ba40!important;
} 

.tabs .tab a.active {
	background-color:transparent!important;
	color:#30ba40!important;
}
.tabs .tab a:focus {
	background-color:transparent!important;
}
.tabs .indicator {
	background-color:#30ba40!important;
} 