:root {
	--primary-color: #424242;
	--secondary-color: #616161;
}
@font-face {
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Light.woff');
}
html,body {
	background-color: #feffes;
	margin: 0;
	padding: 0;
	font-family: Roboto,'Helvetica';
	line-height: 1.5;
	height: auto;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #f5f5f5 100%);
}
body {
	display: block;
}
th {
	font-size: large;
	font-weight: 700;
}
tbody>tr>td {
	font-weight: 500;
}
.sidenav>li>a {
	font-weight: 600;
}
#comp_name_sidenav {
	font-weight: 600;
}
.primary {
	background-color: var(--primary-color);
}
.btn {
	background-color: var(--primary-color)!important;
}
.btn-large {
	background-color: var(--primary-color)!important;
}
.white {
	background-color: white;
}
.deafult {
	background-color: var(--primary-text);
}
.secondary {
	background-color: #fa4659;
}
.deafult-text {
	color: var(--secondary-color);
}
.font-weight-low {
	font-weight: 600;
}
.font-capital {
	text-transform: capitalize;
}
.mt-br {
	margin-top: 30px;
}
.mt-1 {
	margin-top: 50px;
}
.mt-2 {
	margin-top: 100px;
}
.mt-3 {
	margin-top: 150px;
}
.mt-mb-10px{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ml-mr-30{
	margin-left: 40%;
	margin-right: 40%;
}
.padd-10px{
	padding: 10px !important;
}
.m5px{
	margin: 2px;
}
.mb-0{
	margin-bottom: 0%;
}
.pl-1 {
	padding-left: 50px!important;
}
.pl-2 {
	padding-left: 100px!important;
}
.padded {
	padding-left: 300px;
}
.font-bold {
	font-weight: 600;
}
.md-font {
	font-size: 25px;
}
header, main, footer {
	padding-left: 250px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.active-link {
	border-left: 5px solid var(--primary-color);
}
.nav-container {
	width: 50%!important;
}
@media only screen and (max-width : 768px) {
	.nav-container {
		width: 95%!important;
	}
}
blockquote {
	border-left: 5px solid var(--primary-color)!important;
}
.hero {
	background-color: darkturquoise;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}
.hero-dusk::before {
	content: "";
	display: block;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-image: -webkit-linear-gradient(left top, rgba(4843,67,82,1), rgba(215,210,204,0.5));
}
.bg-form {
	position: relative;
	background: url('../image/bg-form.jpeg');
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	height: 500px;
}
.bg-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(left top, rgba(255,255,255,0.98), rgba(233,228,204,0.97));
}
.hero .hero-caption {
	position: absolute;
	top: 45%;
	left: 25%;
	transform: translate(-50%, -50%);
}
.hero .hero-caption-second {
	display: block;
	position: absolute;
	top: 30%;
	left: 65%;
	transform: translate(-50%, -50%);
}
@media only screen and (max-width : 768px) {
	.hero .hero-caption {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.hero .hero-caption-second {
		display: none;
	}
	.bg-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(left top, rgba(255,255,255,0.9), rgba(233,228,204,0.97));
	}
}
.side-pan-title {
	font-size:1.1em;
	color: whitesmoke; 
	font-weight: 300;
}
.hero .hero-caption .card {
	min-width: 335px;
}
.py-2 {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}
.p-trbl {
	padding: 5%!important;
}
.login-title {
	font-size: 1.9em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.tabs .tab a{
	color:var(--secondary-color)!important;
}

.tabs .tab a:hover {
	background-color:#eee!important;
	color:var(--primary-color)!important;
}

.icon {
	color: #616161;
	min-width: 35px;
	text-align: left;
}

.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}

.tabs .tab a.active {
	background-color:transparent!important;
	color:var(--primary-color)!important;
}
.tabs .tab a:focus {
	background-color:transparent!important;
}
.tabs .indicator {
	background-color:var(--primary-color)!important;
}
/* label focus color */
.input-field input[type=text]:focus + label ,input[type=password]:focus + label,input[type=email]:focus + label,input[type=textarea]:focus + label,input[type=search]:focus + label,input[type=number]:focus + label {
	color: #616161!important;
}
/* label underline focus color */
.input-field input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=textarea]:focus,input[type=search]:focus,input[type=number]:focus {
	border-bottom: 1px solid #616161!important;
	box-shadow: 0 1px 0 0 #616161!important;
}

