.login{
    background-color: #00b122; 
}

.rad{
    border-radius: 100%!important;   
}

.login .card {
    margin-top: 100px;
}

.file img{
    padding: 20px;
    padding: 20px 40px;
    border: 3px solid #999;
}

.file{
}


