.summary-container{
	font-family: calibri;
	width: 90%;
	margin: 0 auto;
	border: 2px solid black;
	text-align: left;
}
.summary-container h1 {
	font-size: 25px;
}
.summary-container h2 {
	font-size: 22px;
}
.summary-container h3 {
	font-size: 19px;
}
.summary-container h4 {
	font-size: 16px;
}
.summary-container h5 {
	font-size: 13px;
}
.summary-container h6 {
	font-size: 10px;
}
.summary-header{
	height: 100px;
	border-bottom: 2px solid black;
	text-align: center;
}
.summary-header h1, .summary-header h6{
	margin: 0;
	margin-top: 1px;
}
.summary-header #purchaseAgency{
	border-bottom: 1px solid black;
	width: 70%;
	margin: 0 auto;
	margin-top: 5px;
}
.summary-details-3 {
	width: 100%;
	height: 250px;
	padding: 0 2px;
	/*padding-top: 10px;*/
	border-bottom: 2px solid black;
	padding: 0 2px;
	border-top: 2px solid black;
}
.summary-details {
	width: 100%;
	height: 70px;
	padding: 0 2px;
	/*padding-top: 10px;*/
	border-bottom: 2px solid black;
}
.summary-details h3{
	margin: 0;
}
.summary-details h4{
	margin: 0;
}
.summary-details .supplier-details-1{
	width: 50%;
	height: 100%;
	float: left;
	border-right: 1px solid black;
	padding: 0 2px;
}
.summary-details .supplier-details-2{
	width: 45%;
	float: left;
	padding: 0 2px;
	border-left: 1px solid black;
}
.summary-details-3 .supplier-signature, .summary-details-3 .official-signature {
	width: 50%;
	float: left;
	margin: 0;
	text-align: center;
}
.summary-details-2 {
	width: 100%;
	height: 44px;
	padding: 0 2px;
	/*padding-top: 10px;*/
	border-bottom: 2px solid black;
}
.summary-details-2 h3{
	margin: 0;
}
.summary-details-2 h4{
	margin: 0;
}
.summary-details-2 .supplier-details-1{
	width: 50%;
	float: left;
	border-right: 1px solid black;
	padding: 0 2px;
}
.summary-details-2 .supplier-details-2{
	width: 45%;
	float: left;
	padding: 0 2px;
	border-left: 1px solid black;
}
.summary-details-3 .person {
	width: 90%;
	border-top: 1px solid black;
	margin: 0 auto;
	font-size: 14px;
	margin-top: 30px;
}
.summary-details-3 .person span{
	font-size: 10px;
}

.tablee {
	width: 100%;
	margin: 1px 0;
}
.tablee, .tablee th, .tablee td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tablee th, td {
    /*padding: 15px;*/
}
.summary-purpose {
	width: 100%;
	height: 90px;
	padding: 0 2px;
	padding-top: 10px;
}
.summary-purpose h3{
	margin: 0;
}
.summary-purpose .purpose {
	text-decoration: underline;
}
.summary-by {
	height: 100px;
	padding: 0 2px;
	border-top: 2px solid black;
	text-align: center;
	margin: 0
}
.summary-by h3{
	margin: 10px 3px;
}
.summary-by .signature, .summary-by .requestedBy, .summary-by .approvedBy {
	width: 33%;
	float: left;
	margin: 0;
}
.summary-by .funds-available {
	width: 70%;
	height: 100%;
	float: left;
	margin: 0;
	border-right: 1px solid black;
}
.summary-by .alobs {
	width: 20%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid black;
	text-align: left;
}
.summary-by .person {
	width: 80%;
	border-top: 1px solid black;
	margin: 0 auto;
	font-size: 14px;
}
.summary-by .person span{
	font-size: 10px;
}

.modal-con::-webkit-scrollbar {
   	width: 1px;
}